* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    margin: auto;
    max-width: 1200px;
    padding: 0 15px;
}

 header {
   padding: 15px 0;
   line-height: 60px;
   z-index: 9;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: #fff;
}

.col-head {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.col-logo {
    font-size: 28px;
    font-weight: 600;
    color: rgb(84, 84, 85);
}
.col-menu {
    flex-grow: 1;
}
.col-menu ul {
    display: flex;
}
.col-menu ul li {
    list-style: none;
    padding-left: 20px;

}
.col-menu ul li a {
    padding: 10px;
    font-weight: 500;
    color: rgb(105, 105, 107);
    text-decoration: none;
}
.col-menu ul li a i {
   margin-left: 10px;
}
.col-menu ul li a:hover {
    color: #d9232d;
}

.col-menu ul li.chil-menu {
    position: relative;
}
.col-menu ul li.chil-menu ul.menu-con {
    position: absolute;
    z-index: -1;
    top:100%;
    left: 20px;
    width: 200px;
    height: 200px;
    background-color: #FFF;
    display: block;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 8px 8px 8px black;
}

.menu-con li a {
    display: block;
    height: 50px;
    text-align: left;
    padding: 10px;
    line-height: 30px;
}
.col-menu ul li.chil-menu:hover .menu-con{
    top: 50px;
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
    z-index: 3;
}
li.chil-menu2 {
    position: relative;
}
li.chil-menu2 ul.drop-menu2 {
    background-color: #FFF;
    opacity: 1;
    display: block;
    position: absolute;
    left: 140px;
    top: 0;
    width: 200px;
    border-radius: 7px;
     opacity: 0; 
     visibility: hidden; 
     z-index: -1;
     box-shadow: 8px 8px 8px black;

}
li.chil-menu2:hover ul.drop-menu2 {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    left: 180px;
    z-index: 3;
}

.col-btn a {
    text-decoration: none;
    font-size: 16px;
    color: #FFF;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: rgb(184, 39, 39);
}
.banner {
    height: 100vh;
    background-image: url('./img/slide-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner::before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0;
    background-color: rgba(15, 15, 15, 0.6);
    width: 100%;
    height: 100%;
}
.row-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    z-index: 3;
}
.banner-text {
   color: #fff;
}
.banner-text h2 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.banner-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
}
.banner-text a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    background-color: #d9232d;
    border-radius: 5px;
}
.row-about {
    padding: 70px 0;
}
.col-text {
    display: flex;
    justify-content: space-between;
}
.col-l {
    flex:0 0 48%;
}
.col-l h3 {
    font-size: 48px;
    color: rgb(89, 89, 90);
    margin-bottom: 30px;
}
.col-l p {
    font-size: 26px;
    color: rgb(89, 89, 90);
}
.col-r {
    flex:0 0 48%;
    color: rgb(89, 89, 90);

}
.col-r p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}
.col-r i {
    color: #d9232d;
    margin-right: 10px;

}
.space {
    display: inline-block;
    background-color: rgb(116, 113, 113,0.1);
    height: 100px;
    width: 100%;
}

/* phan services */
.services {
    padding: 70px 0;
}
.services-title {
    margin-bottom: 50px;
}
.services-title h4 {
    font-weight: 300;
    color: #928d8d;
    letter-spacing: 3px;
    position: relative;
}
.services-title h4::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 110px;
    width: 120px;
    height: 1px;
    border-top: 1px solid #d9232d;
}
.services-title h2 {
    color: #535d63;
    font-size: 32px;
}

.grip-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.grip-services .item {
    background-color: rgba(196, 188, 188, 0.1);
    display: flex;
    padding: 30px;

}
.grip-services .item .item-icon {
    font-size: 38px;
    margin-right: 20px;
    color: #d9232d;
}
.grip-services .item .item-text h4 a {
    color: #535d63;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 15px;
}
.grip-services .item .item-text h4 a:hover {
    color: #d9232d;
    transition: 0.4s;
}
.grip-services .item .item-text p {
    color: rgb(116, 113, 113);
    line-height: 1.5;
}



.portfolio {
    padding: 40px 0;
}   
.portfolio-title h4 {
    font-weight: 300;
    color: #928d8d;
    letter-spacing: 3px;
    position: relative;
}
.portfolio-title h4::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 110px;
    width: 120px;
    height: 1px;
    border-top: 1px solid #d9232d;
}
.portfolio-title h2 {
    color: #535d63;
    font-size: 32px;
}
.portfolio-menu {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.portfolio-menu ul {
    display: flex;
}
.portfolio-menu ul li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    padding: 10px;
    border-radius: 4px;
}
.portfolio-menu ul li.active{
    background-color: #d9232d;
    border-radius: 4px;
    color: #fff;
}

.portfolio-menu ul li:hover  {
    background-color: #d9232d;
    color: #fff;
}
footer {
    color: rgb(255, 255, 255);
    background-color: rgb(81, 93, 106);
    padding: 60px 0px 30px;
}
.row-footer {
    display: flex;
    column-gap: 20px;
}
.col-infor {
    flex: 0 0 20%;
}
.col-link {
    flex: 0 0 20%;
}
.col-infor h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.col-infor p {
    margin-bottom: 10px;
    line-height: 1.8   ;
}
.col-infor-icon i {
    color: #fff;
    background-color: rgb(120, 124, 128);

    padding: 10px;
    border-radius: 4px;
}
.col-infor-icon i:hover {
    background-color: #d9232d;
    transition: 0.4s;
}
.phone, .mail {
    display: flex;
}
.title-footer h3 {
    margin-bottom: 20px;
    font-weight: 400;
}
.title-footer p {
    margin-bottom: 20px;
    font-weight: 300;
}
.col-link ul li {
    list-style: none;
    padding-bottom: 26px;
}
.col-link ul li a {
    text-decoration: none;
    color: rgb(132, 133, 136);
    
}
.col-link ul li a:hover {
    color: #fff;
    transition: 0.4s;
}
.col-link ul li a i {
    padding-right: 8px;
}
.col-comment {
    flex-grow: 1;
    overflow: hidden;
}
.col-comment .btn a {
    text-decoration: none;
    background-color: #d9232d;
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
    color: #fff;
}
.col-comment .btn input {
    max-width: 100%;
}
.coppy {
    background-color: rgb(74, 85, 98);
    font-size: 14px;
    text-align: center;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    color: #fff;
}
.coppy a {
    color: rgb(132, 133, 136);
    text-decoration: none;
}


.portfolio-content {
    margin-top: 30px;
}

.portfolio-content .row {
    display: flex;
    justify-content: space-between;
}
.portfolio-content .row .col {
    flex: 0 0 32%;
    width: 32%;
}
 .protfoloi-item {
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
 .protfoloi-item::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.3);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
 .protfoloi-item img {
    width: 100%;
    vertical-align: middle;
}
.protfoloi-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    opacity: 0;
    color:#FFF;
    z-index: 2;
}
.protfoloi-text h4 {
    font-size: 24px;
    margin-bottom: 5px;

}
 .protfoloi-text p {
    font-size: 18px;
    margin-bottom: 10px;
}
 .protfoloi-link i {
    margin-right: 5px;
    font-size: 18px;
    color:#FFF;

}
 .protfoloi-item:hover .protfoloi-text {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;  
}
 .protfoloi-item:hover img {
    transform: scale(1.1);
    transition: 0.5s;
}
 .protfoloi-item:hover::before{
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
.nav-mobile {
    display: none;
}
.nav-mobile a {
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    color: rgb(105, 105, 107);
}
.nav-mobile a i {
    padding-right: 10px;
}



/* pháº§n trang about */
.headling {
    padding-top: 90px;
    background-color: #eeeeeebe;
    line-height: 70px;
}
.headling-content {
    display: flex;
    justify-content: space-between;
}
.headling-content h3 {
    font-size: 24px;
    font-weight: 300;
}
.headling-content ul {
    display: flex;
}
.headling-content ul li {
    margin-right: 10px;
    list-style: none;
}
.headling-content ul li.active a{
    color: #d9232d;
}
.headling-content ul li a {
    text-decoration: none;
}
.about-team {
    background-color: #F8F9FA;
    padding: 70px 0;

}
.about-team-title h4 {
    letter-spacing: 3px;
    color: #928d8d;
    position: relative;
}
.about-team-title h4::before {
    position: absolute;
    content: '';
    width: 100px;
    border-top: 1px solid #d9232d;
    top: 50%;
    left: 70px;    
}
.about-team-title h2 {
    color: #535d63;
    font-size: 32px;
}
.team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 30px;
}
.team .team-infor {
    padding-left: 40px;
    line-height: 1.3;
}
.team .team-infor h2 {
    color: #535d63;
}
.team .team-infor p {
    font-weight: 300;
    position: relative;
    padding: 10px 0;

}

.team .team-infor p.bf::before {
    position: absolute;
    content: '';
    width: 50px;
    bottom: 0;
    left: 0;
    border-bottom:1px solid #535d63;
}
.team .team-infor a {
    background-color: #8795a4;
    padding: 5px 6px;
    border-radius: 5px;
}
.team .team-infor a i {
    color: #fff;
}
.team .team-infor a i.fa-facebook-f {
    padding: 0 3px;
}
.team .team-infor a:hover {
    background-color: #d9232d;
    transition: 0.4s;
}
.team-item {
    display: flex;
    background-color: #FFF;
    padding: 30px;
    box-shadow: 3px 3px 3px #e0dede;
}
.team-item:hover .team-img img{
    transform: scale(1.1);
    transition: 0.5s;
}
.team-img {
    max-width: 140px;
    max-height: 140px;
    border-radius: 4px;
    overflow: hidden;
}
.team-img img {
    width: 100%;
    vertical-align: middle
}

/* phan skill */
.skill {
    padding: 60px 0;
}
.skill-title h4 {
    letter-spacing: 2px;
    color: #928d8d;
    position: relative;
    margin-bottom: 5px;
}
.skill-title h4::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 120px;
    width: 120px;
    border-top: 1px solid #d9232d;
}
.skill-title h2 {
    font-size: 36px;
    color:#535d63;
}
.skill-content {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.content-item {
    margin-bottom: 20px;
}
.content-item p {
    margin-bottom: 10px;
}
.item-skill {
    height: 10px;
    width: 100%;
    background-color: #d1d0d0;
    position: relative;
}
.FEATURES {
    padding: 30px 0;
}
.FEATURES-title h4 {
    letter-spacing: 3px;
    color: #a8a5a5;
    position: relative;
}
.FEATURES-title h4::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 120px;
    width: 120px;
    border-top:1px solid #d9232d; 
}
.FEATURES-title h2 {
    font-size: 36px;
    color: #535d63;
}
.FEATURES-content {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.FEATURES-menu {
    flex: 0 0 23%;
} 
.FEATURES-menu ul li {
    list-style: none;
    padding: 15px 0;
}
.FEATURES-menu ul li.active a{
    color: #d9232d;
}
.FEATURES-menu ul li.active {
    border-right: solid #d9232d;
}
.FEATURES-menu ul li:hover {
    border-right: solid #e2e2e2;
}
.FEATURES-menu ul li:hover a {
    color: #d9232d;
    transition: 0.5s;
}
.FEATURES-menu ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #556270;
}
.FEATURES-text {
    display: flex;
    column-gap: 30px;
}
.FEATURES-text .text {
    flex: 0 0 60%;
}
.FEATURES-text .text h3 {
    color: #556270;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}
.FEATURES-text .text p {
    color: #8795a4;
    line-height: 1.5;
}
.FEATURES-text .text p.nghieng {
    margin-bottom: 30px;
    font-style: italic;
}
.FEATURES-text .icon img {
    width: 100%;
    max-width: 300px;
    display: block;
}


.fifty-percent {
    max-width: 50%;
}
@keyframes move-down-text {
    0% {
        top: -76px;
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}